<%= content_tag main, html do %>
<div class='question-wrapper'>
  <%= content_tag content, class: 'content' do %>
    <h2><%= link_to question.content, question %><h2>
  <% end %>

  <%= content_tag count, class: 'answer-count' do %>
    <%= question.total_answers %>
  <% end %>

  <% unless current_user.subscribed? question %>
    <%= content_tag subscription, class: 'subscribe' do %>
      <%= render 'subscriptions/new', question: question %>
    <% end %>
  <% end %>
</div>
<% end %>