<%= content_tag :div, html do %>
  <h1><%= link_to question.content, question %></h1>
  <div class="reviews">
  <span class='subscriptions'>

    <%= render 'subscriptions/new', question: question %>
    
  </span>
  <span class="icon"><%= image_tag("question.png") %></span> <%= question.total_answers %>
  </div>

  <ul class="answers">
  </ul>
<% end %>