<div class="single">
  <p class="nextQ">Question by: <%= link_to @question.user.name.capitalize, @question.user %><p> 
  <div id="header">
    <%= render_question(@question) %>
  </div>
  <div id="body">
    <%= content_tag :div, id: 'answer', data: { owner: "question_#{@question.id}" } do %>
      <% @question.answers.each do |answer| %>
        <%= render_answer(answer, q: false) %>
        <div class="line"></div>
      <% end %>
    <% end %>
    <%= render 'answers/form', question: @question %>
  </div>
</div>


