<%= content_tag main, html do %>
    <%= content_tag sender, class: 'sender' do %>
      <%= link_to notification.sender.name + ' Answerd', user_path( notification.sender ) %>:
    <% end %>
    <br>
      <%= content_tag notifiable, class: 'notifiable' do %>
        <%= link_to notification.notifiable.content, question_path( notification.notifiable, notification_id: notification.id ) %>
      <% end %>
      <div class="line"></div>
      <%= content_tag message, class: 'message' do %>
        <%= link_to notification.message, question_path( notification.notifiable, notification_id: notification.id ) %>
      <% end %>
<% end %>