<div class ='user-page'> 
  <section class="single">
    <p class="nextQ">&nbsp;<p> 
    <div id="header">
      <div class='img'>
        <div id="letter"><%= @user.name[0] %>
        </div>
      </div> 
      <h1><%= @user.name.upcase %></h1>
      <p><%= @user.bio %></p>
    </div>
    <div id="body">
      <div id="answer">
      <% if @user.questions.count > 0 %>  
        <h3>My Questions</h3>
        <ul class="questions">
        <h2>Answered</h2>
        <%= render_question_list @user.questions.answered, title: "Answered" %>
        <p class="nextQ">&nbsp;<p> 
        <h2>Unanswered</h2>
        <%= render_question_list @user.questions.unanswered, title: "Unanswered"  %>
         </ul>
      </div>
      <% end %>
      <p class="nextQ">&nbsp;<p> 
      <h3>My Answers</h3>
      <div id="answer">
        <% @user.answers.each do |answer| %>
        <%= render_answer(answer, user: false) %>
        <div class="line"></div>
      <% end %>
      </div>
    </div>  
  </section>
</div>

