  <h2>Answer <span><span>by</span> <%= link_to answer.user.name.capitalize, answer.user %></span></h2>
  <% if q %>
    <%= content_tag q do %>
      <%= answer.question.content %>
    <% end %>
  <% end %>

  <%= content_tag a do %>
    <%= answer.content %>
  <% end %>